@import './variables';
.main {
    padding-bottom: 35vh;
    &__buttons {
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin: $px--50 auto;
    }
    
    &__button {
        font-family: 'Montserrat', sans-serif;
        background-color: #FFF;
        color: #6e6e6e;
        border-radius: 3px;
        border: 1px solid rgb(218, 218, 218);
        cursor: pointer;

        &:active, &:focus {
            outline: none;
        }

        &.active, &:active {
            color: $primary-color;
            border-color: $primary-color;
        }
    }

    &__input {
        border: none;
        border-bottom: 1px solid #dadada;
        font-size: $font-size--x-large;
        font-family: "Snell Roundhand";
        color: #6e6e6e;
        padding: 0 $px--20;

        &::placeholder {
            color: #cfcfcf;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.3vh;
        }

        &:focus {
            outline: none;
        }

        &__label {
            font-size: $font-size--medium-lite;
            color: #6e6e6e;
        }
    }

    &__link {
        color: $primary-color;
    }
}