<div class="main">
  <h1 class="main__headline">Le Samedi 11 Août 2018</h1>
  <p class="main__text">
    LA CÉRÉMONIE AURA LIEU À 14H00 <br>
    À L’ÉGLISE DE SANDVIKEN <br>
    KIRKEGATEN 1A <br>
    5019 BERGEN <br>
  </p>
  <br>
  <p class="main__text">
      LA CÉLÉBRATION CONTINUERA <br>
      À L’HÔTEL OPUS XVI <br>
      EDVARD GRIEG HERITAGE <br>
      VÅGGSALLEMENNINGEN 16 <br>
      5014 BERGEN <br>
  </p>
  <img class="main__icon" src="assets/dresscode.svg" alt="">
  <p class="main__text ">LES MESSIEURS SONT ATTENDUS <br>EN COSTUME NOIR, CHEMISE BLANCHE ET NOEUD PAPILLON,
    <br>LES DAMES EN BLANC ET/OU NOIR.</p>
  <img class="main__icon" src="assets/cadeau.svg" alt="">
  <p class="main__text ">NOTRE PLUS BEAU CADEAU SERA, À N’EN PAS DOUTER, VOTRE PRÉSENCE,
      MAIS SI VOUS SOUHAITEZ NOUS TÉMOIGNER DAVANTAGE,
      UNE URNE SERA À DISPOSITION POUR VOUS PERMETTRE
       DE PARTICIPER AUX PROJETS DES FUTUR·E·S MARIÉ·E·S.</p>
</div>
