/* COLOR */
/* px value */
/* FONT SIZE */
/* 10px */
/* 11px */
/* 12px */
/* 18px */
/* 20px */
/* 22px */
/* 24px */
/* 55px */
.main {
  padding-bottom: 35vh; }
  .main__buttons {
    width: 60%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 5.42vh auto; }
  .main__button {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF;
    color: #6e6e6e;
    border-radius: 3px;
    border: 1px solid #dadada;
    cursor: pointer;
    background-color: #fff; }
    .main__button:active, .main__button:focus {
      outline: none; }
    .main__button.active, .main__button:active {
      color: #caa278;
      border-color: #caa278; }
  .main__input {
    border: none;
    border-bottom: 1px solid #dadada;
    font-size: 2.57vh;
    font-family: "Snell Roundhand";
    color: #6e6e6e;
    padding: 0 2vh; }
    .main__input::placeholder {
      color: #cfcfcf;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.3vh; }
    .main__input:focus {
      outline: none; }
    .main__input__label {
      font-size: 1.9vh;
      color: #6e6e6e; }
  .main__link {
    color: #caa278; }

.main__icon {
  margin: 3.75vh 0;
  height: 7vh; }
