<div class="main">
  <h1 class="main__headline">{{ 'MARRIAGE_DATE' | translate }}</h1>
  <p class="main__text">
    {{ 'MARRIAGE_TIME' | translate }} <br>
    {{ 'MARRIAGE_PLACE' | translate }} <br>
    KIRKEGATEN 1A <br>
    5019 BERGEN <br>
  </p>
  <br>
  <p class="main__text">
      {{ 'MARRIAGE_PARTY_TEXT' | translate }} <br>
      {{ 'MARRIAGE_HOTEL' | translate }} <br>
      EDVARD GRIEG HERITAGE <br>
      VÅGSALLEMENNINGEN 16 <br>
      5014 BERGEN <br>
  </p>
  <img class="main__icon" src="assets/dresscode.svg" alt="">
  <p class="main__text ">
    {{ 'MARRIAGE_GENTLEMEN_TEXT' | translate }} <br>
    {{ 'MARRIAGE_GENTLEMEN_COSTUME' | translate }} <br>
    {{ 'MARRIAGE_LADIES_COSTUME' | translate }}
  </p>
  <img class="main__icon" src="assets/cadeau.svg" alt="">
  <p class="main__text "> {{ 'MARRIAGE_GIFT_TEXT' | translate }} </p>
</div>
