<div class="main">
  <p class="main__text">
      RINA EST NÉ À BERGEN, LE 09 AVRIL 1994. DANS SA PETITE ENFANCE, IL A BEAUCOUP VOYAGÉ AVEC SA MAMAN ET A EU LA CHANCE DE GRANDIR DANS TROIS PAYS DIFFÉRENTS, EN NORVÈGE, À MADAGASCAR MAIS ÉGALEMENT EN FRANCE. À L’ÂGE DE 6 ANS, IL S’INSTALLE À BERGEN, AVEC SA FAMILLE, OÙ IL GRANDIT ET DEVIENT LE JEUNE HOMME DONT FITIA TOMBERA AMOUREUSE. 
  </p>
  <br>
  <p class="main__text">
    FITIA EST NÉE À ANTSIRABE, LE 02 JUILLET 1995. À L’ÂGE DE 3 ANS ELLE S’INSTALLE EN FRANCE AVEC SA FAMILLE. ELLE A EU L’OPPORTUNITÉ D’ÉTUDIER  À STRASBOURG , EN LORRAINE, EN ALLEMAGNE ET À AIX-EN-PROVENCE. ELLE A BEAUCOUP VOYAGÉ MAIS C’EST À BERGEN, LA VILLE DE RINA, QU’ELLE TROUVERA SA PLACE. 
  </p>
</div>