@import '../../sass/common';

@mixin clouds {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.login {
    &__content {
        display: block;
        margin: 0 auto ;
        width: 350px;
        height: 415px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 3px;
    }

    &__buttons {
        display: flex;
        margin: 0 auto;
        width: 250px;
        justify-content: space-between;

        button {
            width: 114px;
            
            &[data-lang] {
                font-size: 18px;
            }
        }
    }
    &__button, &__input {
        width: 100%;
        height: 45px;
        font-size: 20px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid rgb(218, 218, 218);

        &:focus {
            outline: none;
        }
        &:active, &.active {
            border-color: $primary-color;
            color: $primary-color;
        }
    }
}

.login-container {
    display: block;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    @include clouds;
}

.form {
    &__content {
        display: block;
        width: 250px;
        margin: 0 auto;
    }
}

.error-code {
    font-size: 22px;
    color: rgb(255, 142, 142);
}

.logo {
    display: block;
    margin: 0 auto 30px;
    width: 170px;
}