<div class="main" *ngIf="!user.answered" data-dynamic-height>
  <div *ngIf="user.knownMembers">
      <p class="main__text">
        {{ 'RSVP_ANSWER_TEXT' | translate }}<br>
        {{ 'RSVP_ANSWER_DATE' | translate }}
      </p>
      <form class="main__form" (ngSubmit)="onSubmit()" #rsvpKnownForm="ngForm">
        <div class="main__form__member" *ngFor="let member of user.members">
          <span class="main__form__name">{{member.name}}</span>
          <div class="main__form__button-group">
            <button type="button" class="main__button" [class.active]="member.attending" (click)="setMemberAnswer(member, true)">{{ 'RSVP_ACCEPT' | translate }}</button>
            <button type="button" class="main__button" [class.active]="member.attending === false" (click)="setMemberAnswer(member, false)">{{ 'RSVP_DECLINE' | translate }}</button>
          </div>
        </div>
        <button type="submit" class="main__button">{{ 'RSVP_SEND' | translate }}</button>
      </form>
  </div>
  <div *ngIf="!user.knownMembers">
      <p class="main__text">{{user.members.length}} {{ 'RSVP_UNKNOWN_TEXT_1' | translate }} {{ user.name | uppercase }} {{ 'RSVP_UNKNOWN_TEXT_2' | translate }}</p>
      <form class="main__form" (ngSubmit)="onSubmitUnknown()" #rsvpUnKnownForm="ngForm">
        <div class="main__form__member" *ngFor="let member of user.members; index as i;">
          <label class="main__input__label" for="guest{{i}}">{{i+1}}.</label>
          <input id="guest{{i}}" class="main__input" type="text" [(ngModel)]="member.name" [id]="member.name" name="member_{{member.name}}" placeholder="{{ 'RSVP_FIRST_LAST_NAME' | translate }}">
        </div>
        <button type="submit" class="main__button">{{ 'RSVP_SEND' | translate }}</button>
      </form>
  </div>
</div>
<div class="main" *ngIf="user.answered">
  <p class="main__text">
    {{ 'RSVP_POST_ANSWER' | translate }}.<br>
    {{ 'RSVP_CHANGE' | translate }}<br>
    {{ 'RSVP_ANSWER_US' | translate }}
    <a class="main__link" href="mailto:hei@rinafitia.wedding">HEI@RINAFITIA.WEDDING</a>
  </p>
</div>
