@import '../../sass/common';
.main {
    &__form {
        display: block;
        margin: $px--50 auto 0;

        &__member {
            margin-bottom: $px--40;
        }
        &__name {
            display: block;
            font-size: $font-size--x-large;
            text-align: center;
            font-family: "Snell Roundhand";
        }
    }
    &__button {
        display: block;
        margin: $px--10 auto;

        height: $px--25;
        width: $px--140;
        font-size: $font-size--lite;

        &[type="submit"] {
            font-size: $font-size--small;
            height: $px--30;       
            border: 3px double $primary-color;
        }
    }
}