@import '../../sass/common';
.main {
    height: 1250px;
    &__form {
        display: block;
        margin: 50px auto 0;

        &__member {
            margin-bottom: 40px;
        }
        &__name {
            display: block;
            font-size: 24px;
            text-align: center;
            font-family: "Snell Roundhand";
        }
    }
    &__button {
        display: block;
        margin: 10px auto;

        height: 25px;
        width: 140px;
        font-size: 10px;

        &[type="submit"] {
            font-size: 12px;
            width: 135px;
            height: 30px;       
            border: 3px double $primary-color;
        }
    }
}