/* COLOR */
/*
lite 10
x-small 1.2vh
small 12
large 22
x-large 24




*/
.main__buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 50px auto; }

.main__button {
  font-family: 'Montserrat', sans-serif;
  color: #6e6e6e;
  border-radius: 3px;
  border: 1px solid #dadada;
  cursor: pointer; }
  .main__button:active, .main__button:focus {
    outline: none; }
  .main__button.active, .main__button:active {
    color: #caa278;
    border-color: #caa278; }

.main__input {
  border: none;
  border-bottom: 1px solid #dadada;
  font-size: 24px;
  font-family: "Snell Roundhand";
  color: #6e6e6e;
  padding: 0 20px; }
  .main__input:focus {
    outline: none; }
  .main__input__label {
    font-size: 20px;
    color: #6e6e6e; }

.main__link {
  color: #caa278; }

.main {
  height: 1250px; }
  .main__form {
    display: block;
    margin: 50px auto 0; }
    .main__form__member {
      margin-bottom: 40px; }
    .main__form__name {
      display: block;
      font-size: 24px;
      text-align: center;
      font-family: "Snell Roundhand"; }
  .main__button {
    display: block;
    margin: 10px auto;
    height: 25px;
    width: 140px;
    font-size: 10px; }
    .main__button[type="submit"] {
      font-size: 12px;
      width: 135px;
      height: 30px;
      border: 3px double #caa278; }
