.mobile-blocker {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    font-size: 24px;

    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

::ng-deep .main {
    display: block;
    margin: 0 auto;
    width: 450px;
    text-align: center;
    margin-top: 60px;

    &__headline {
        font-size: 22px;
        font-family: "Snell Roundhand";
        color: #6e6e6e;
    }
  
    &__text {
      display: block;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 2px;
      font-size: 12px;
      line-height: 30px;
      color: #6e6e6e;

      a {
        color: #6e6e6e;
      }
    }
  }
  