$paper-height: 800px;
$paper-width: 63vh;

.pre-whitespace {
    width: 100%;
    height: 67vh;
}

.scroll-component-container {
    width: 100%;
    height: $paper-height;
    z-index: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 3.5vh 5vh 0;
    font-size: 1.3vh; /* 12px */
    font-family: Cochin;
    font-weight: 100;
    letter-spacing: 0.25vh; /* 2.3px */
    color: #6e6e6e;

    > * {
        cursor: pointer;
    }

    .active {
        text-decoration: underline;
    }
}

main {
    transition: opacity 0.75s ease-in;

    &.show {
        opacity: 1;
    }

    &.hide {
        opacity: 0;
    }
}

.paper {
    box-shadow: 0px 0px 10px #979797;
    background-color: #fff;
    max-width: $paper-width;
    min-height: 100%;
    display: block;
    margin: 0 auto;
}

.headline {
    font-family: cochin;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 4px;
    margin-top: 180px;
    text-align: center;
    color: #3a3a3a;
}

.name {
    display: block;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
    font-weight: 100;
    font-family: "Snell Roundhand";
    color: #3a3a3a;
    margin-top: 30px;
}

.post-name {
    display: block;
    font-family: Cochin;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    color: #3a3a3a;
    font-weight: 100;
}

.envelope {
    &__container {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);

        &--backside {
            bottom: 13vh;
            z-index: -1;
            height: 49vh;
        }

        &--frontside {
            bottom: -11vh;
            z-index: 1;
            height: 47vh;
        }
    }

    &__frontside {
        max-width: 650px;
        height: 100%;
    }
    &__backside {
        max-width: 635px;
        height: 100%;
    }
}