<div class="pre-whitespace"></div>
<div class="envelope__container envelope__container--backside">
        <img class="envelope__backside"src="assets/Envelope_backside.svg" alt="envelope">
    </div>
<div class="scroll-component-container">
    <div class="paper">
      <div class="navbar">
        <a routerLink="home" routerLinkActive="active">ACCUEIL</a>
        <a routerLink="history" routerLinkActive="active">HISTOIRE</a>
        <a routerLink="marriage" routerLinkActive="active">MARIAGE</a>
        <a routerLink="logistics" routerLinkActive="active">LOGISTIQUE</a>
        <a routerLink="rsvp" routerLinkActive="active">RSVP</a>
      </div>
      <div class="main-container">
            <router-outlet></router-outlet>
      </div>
  </div>
</div>
<div class="envelope__container envelope__container--frontside">
    <img class="envelope__frontside"src="assets/envelope_silver.svg" alt="envelope">
</div>
