<div class="main">
  <h1 class="main__headline">Bienvenue à Bergen</h1>
  <p class="main__text">SITUÉE ENTRE LES SEPT MONTAGNES, BERGEN EST LA DEUXIÈME VILLE DU PAYS MAIS CEPENDANT LA PLUS BELLE. VOUS NE SAUREZ PLUS OÙ Y DONNER DE LA TÊTE, ENTRE LE VASTE FJORD QUI S’ÉTEND AUX PORTES DE LA VILLE ET LES MONTAGNES QUI LA PROTÈGE</p>
  <div class="main__map-container">
      <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJ2chmBaD-PEYRitTGf3GjAg4&destination=V%C3%A5gsallmenningen%2016&mode=walking&key=AIzaSyBlbc-mNfUmGHgR_QowrLxgKrf0-0PWspI" allowfullscreen></iframe>
  </div>
</div>
  