.main {
  height: 1250px; }
  .main__map-container {
    width: 100%; }
    .main__map-container iframe {
      width: 100%;
      height: 450px; }
  .main__buttons {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 50px auto; }
  .main__button {
    height: 45px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #6e6e6e;
    border-radius: 3px;
    border: 1px solid #dadada; }
    .main__button:active, .main__button:focus {
      outline: none; }
    .main__button.active {
      color: #caa278;
      border-color: #caa278; }
