.main__paragraph {
  font-family: cochin;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 4px;
  text-align: center;
  color: #3a3a3a;
  margin-top: 50px; }

.main__date-paragraph {
  font-family: "Snell Roundhand";
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 4px;
  text-align: center;
  color: #3a3a3a;
  margin-top: 50px; }

.name {
  display: block;
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: 100;
  font-family: "Snell Roundhand";
  color: #3a3a3a;
  margin-top: 30px; }

.post-name {
  margin-top: 10px;
  display: block;
  font-family: Cochin;
  text-align: center;
  font-size: 25px;
  letter-spacing: 4px;
  color: #3a3a3a;
  font-weight: 100; }

.parent-container {
  font-family: Cochin;
  padding: 0 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 16px;
  letter-spacing: 2px; }

.headline {
  font-family: cochin;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 4px;
  margin-top: 100px;
  text-align: center;
  color: #3a3a3a; }
