<div class="main"><div class="logo__container">
  <img class="logo__image" src="assets/logo.png" alt="Logo">
  <span class="logo--text-overlay">L’AMOUR AU-DELÀ DES FRONTIÈRES</span>
</div>
  <span class="pre-name">Avec leur parents</span>
  <div class="parent-container">
    <span id="mamy-lova">Mamy & Lova<br>Andrianaivoravelona</span>
    <span id="hery-nali">Hery & Nalisoa<br>Rakotondratsimba</span>
  </div>
  <span class="name">Rina & Fitia</span>
  <p class="main__paragraph">ont le plaisir de vous inviter à leur mariage</p>
  <p class="main__date-paragraph">Le samedi 11 Aout 2018</p>
</div>
