@import '../../sass/common';
.main{
  &__text--name {
    font-size: $font-size--xx-large;
    font-weight: 100;
    font-family: "Snell Roundhand";
    color: #000000;
    margin-top: $px--50;
  }
}



