<div class="main">
  <p class="main__text">
    MAMY & LOVA ANDRIANAIVORAVELONA <br>
    HERY & NALISOA RAKOTONDRATSIMBA <br>
    {{ 'HOME_HEADER_TEXT_1' | translate }} <br>
    {{ 'HOME_HEADER_TEXT_2' | translate }}

  </p>

  <p class="main__text--name">Rina & Fitia</p>

  <p class="main__text">
    {{ 'HOME_DATE_TEXT' | translate }} <br>
    {{ 'HOME_YEAR_TEXT' | translate }} <br>
    {{ 'HOME_TIME_TEXT' | translate }}
  </p>

  <p class="main__text">
      {{ 'HOME_ADDRESS_TEXT' | translate }} <br>
      {{ 'HOME_PLACE_TEXT' | translate }}
      
  </p>
</div>
